asgiref==3.8.1
click==8.1.8
colorama==0.4.6
Django==5.1.7
dlib==19.24.6
face-recognition==1.3.0
face_recognition_models==0.3.0
gunicorn==23.0.0            # For production WSGI server
numpy==2.2.3
opencv-python==4.11.0.86
packaging==24.2
pillow==11.1.0
psutil==7.0.0              # Useful for resource monitoring
python-dateutil==2.9.0.post0
sqlparse==0.5.3
tornado==6.4.2             # Can be useful for async Django features
traitlets==5.14.3
tzdata==2025.1
